<div class="card-goods" id="card-goods">  
    <div class="card-goods__left">

        <img src="{{imageUrls.[0]}}" alt="{{title}}" class="card-goods__img">

    </div>
    <div class="card-goods__right">
        
        <h2 class="card-goods__title">{{title}}</h2>
        <p class="card-goods__code">Категори товара: {{category}}</p>
        <p class="card-goods__price">{{price}}€</p>

        <button type="button" class="card-goods__btn-information">Информация о продавце</button>

        <button type="button" data-action="add-to-favourites" data-id="{{_id}}" class="card-goods__btn card-goods__btn-favorites">В избранное
            <span class="card-goods-icon material-icons-outlined">favorite_border</span>            
        </button>
        <button type="button" class="card-goods__btn card-goods__btn-share">Поделиться
        <span class="card-goods-icon material-icons-outlined">share</span>
        </button>

        <h3 class="card-goods__heading-desc">Описание</h3>
        <p class="card-goods__desc">{{description}}</p>
      
    </div>
    
</div>

